<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>result</title>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }




    </style>
</head>
<body>

<table style="width:60%">
    <tr>
        <th th:text="${times + ' Times'}">times</th>
        <td>Win</td>
        <td>Fail</td>
    </tr>
    <tr style="background-color: red;"
        th:style="${isChangeSuccess} ? 'background-color: green' : 'background-color: red'">
        <td>Change the choice</td>
        <th th:text="${change_success}">change_success</th>
        <th th:text="${change_fail}">change_fail</th>
    </tr>
    <tr style="background-color: red;"
        th:style="${isKeepSuccess} ? 'background-color: green' : 'background-color: red'">
        <td>Keep the choice</td>
        <th th:text="${keep_success}">keep_success</th>
        <th th:text="${keep_fail}">keep_fail</th>
    </tr>
</table>
<br><br>
<form action="/result" method="get">
    <label>Times to test:</label>
    <input type="text" name="times"><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>